html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    overflow-x: hidden;
}



/*nav start*/

header {
    width: 100%;
    height: 100vh;
    background: url(/assets/imagees/aboutbg.png)  no-repeat center center;
    background-size: cover;
}

.logo img{
    position: fixed;
    float: left;
    height: 2rem;
    margin: 16px 36px;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #000;

}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: none;
    color: #9DDFCA;
    font-size: 20px;
}

.menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}


/*Textbox inside the image*/
.text-box {
    background: rgba(0, 0, 0, 0.603);
    justify-content: space-around;
    border-radius: 5%;
    float: left;
    margin-top: 20vh;
    margin-left: 10%;
    max-width: 30%;
    max-height: 100%;
}

.text-box h2 {
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-size: 2rem;
}

.text-box p {
    color: rgb(216, 216, 216);
    padding-bottom: 1rem;
    margin: 0 2rem 5rem;
    padding-top: 1rem;
    font-size: 1rem;
}

/*Offer section*/

.offer-section {
    display: inline-flex;
}

.information-box {
    background: rgb(73, 73, 73);
    max-width: 50%;
    float: left;
}

.information-box h2 {
    color: white;
    text-align: center;
    margin-top: .3rem;
}

.information-box p {
    color: white;
    text-align: center;
    margin: .3rem 2rem;
}

.information-box a {
text-decoration: none;

}

.information-box h4 {
    border-radius: 5px;
    margin: .5rem auto;
    text-align: center;
    background: white;
    text-decoration: none;
    color: rgb(73, 73, 73);
    max-width: 30%;
    
}

.icon-box{
    background: #9DDFCA;
    justify-content: center;
    float: right;
    display: flex;
    position: relative;
    max-width: 100%;
}

.icon-box i {

}

.icon-box p {
text-align: center;
}

footer{
    width: 100%;
    background: #040507;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.colum2 .icons a{
    color: white;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #000000;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

/*Footer end*/
@media(max-width: 580px) {
    .logo img {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 20em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }

}

@media (max-width: 768px) {
    .text-box {
        background: rgba(0, 0, 0, 0.603);
        border-radius: 5%;
        margin: center auto;
        max-width: 80%;
    }
    
    .text-box h2 {
        color: white;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .text-box p {
        color: rgb(216, 216, 216);
        font-size: .7rem;
    }
}

@media (min-width: 992px) {
    .text-box {
        background: rgba(0, 0, 0, 0.603);
        justify-content: space-around;
        border-radius: 5%;
        float: left;
        margin-top: 20vh;
        margin-left: 10%;
        max-width: 30%;
        max-height: 100%;
    }
    
    .text-box h2 {
        color: white;
        text-align: center;
        padding-top: 1rem;
        font-size: 2rem;
    }
    
    .text-box p {
        color: rgb(216, 216, 216);
        padding-bottom: 1rem;
        margin: 0 2rem 5rem;
        padding-top: 1rem;
        font-size: 1rem;
    }
}

